body{
    background-color: rgb(255, 231, 152);
}
#div1{
    font-size: large;
    align-items: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
     'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    padding: 20px;
    border: 5px solid;
    border-radius: 50px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.377);

}
#headline{
    width: 90%;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: larger;
    font-family: 'Segoe UI',
     Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    background-color: antiquewhite;
    border-radius: 50px;
    box-shadow: 0 0px 15px black;
    text-shadow: 0 1px 1px;
}
#YearAddress{
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: larger;
    font-family: 'Gill Sans', 
    'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
table{
    border-radius: 20px;
    margin: auto;
    align-items: center;
    width: 50%;
    text-align: center;
    font-size: larger;
    font-family: 'Franklin Gothic Medium'
    , 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.568);
    background-color: antiquewhite;

}